.testWrapper{
    text-transform: capitalize;
   
}
.white{
    color: #fff;
    font-weight: 600;
    padding:10px;
}
.gray{
    color:#999;
}
.xl
{
    font-size: 20px;
}
.xxl
{
    font-size: 30px;
}
.xxxl
{
    font-size: 60px;
    font-weight: 600;
}
.black{
    color: #222222;
    font-weight: 700;
}
.lightGray{
    padding-left: 8px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.11px;
    color: #52595d;
}

