.headerWrapper{    display: flex;
    background-color: #3d3d3d;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.headerWrapperIcon{display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.headerIcon{
    padding: 13px;

}
.headerHeading{
    color: #fff;
    font-weight: 600;
    padding: 0 26px;
}
.hideShowWrapper{
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: baseline;
}
.mainLogo{
    padding: 0 20px;
    cursor: pointer;
}



   
